name: hateoflux pipeline

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    name: Build Jar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew assemble

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Tests with Gradle
        run: ./gradlew test

      - name: Publish Test Results
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: build/test-results

  javadocs:
    name: Generate Javadocs
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate Javadocs
        run: ./gradlew javadoc

      - name: Publish Javadocs
        uses: actions/upload-artifact@v3
        with:
          name: javadocs
          path: build/docs/javadoc

  dry-run-release:
    name: Dry Run Release
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref != 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Dry Run Release
        run: ./gradlew clean assembleBundle --stacktrace

      - name: Publish Release Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dry-run-release
          path: build/distributions/**/*

